body {
  margin: 0;
  background: linear-gradient(#c7ddcc, #F3E193);
  background-attachment: fixed; /*resource used to have gradient cover the screen: https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
}

/* #starting-screen {
  margin-left: 60px;
  display: grid;
  place-items: center;
} */


h1 {
  color: #16123f;
  font-size: 100px;
  text-shadow: 2px 2px 5px rgb(0 0 0 / 0.3);
  text-align: center;
  display: grid;
  place-items: center;
  margin: auto;
  animation-name: moveHeading;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes moveHeading {
  from{
    transform: translateY(0);
    opacity: 0%;
  }
  to{
    transform: translateY(270px);
    opacity: 100%;
  }
}


#heading-subtitle {
  color: #A2B4A6;
  text-shadow: 2px 2px 5px rgb(0 0 0 / 0.3); /* text shadow opacity: https://css-tricks.com/almanac/properties/b/box-shadow/ */
  font-size: 25px;
  text-align: center;
  margin-top: -50px;
  display: grid;
  place-items: center;
  margin: auto;
  animation-name: moveHeading;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}  

/* #search-bar {
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  width: 500px;
  text-align: center;
  height: 10px;
  display: grid;
  display: inline;
  /* display: none; */


#search-bar {
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  width: 500px;
  text-align: center;
  height: 10px;
  display: none;
}

#search-image {
  height: 50px;
  width: 50px;
}

#search-button {
  display: none;
  background: transparent;
  border: none;
}

.container {
  display: grid;
  grid-template-rows: auto;
  margin-left: 100px;
  margin-right: 100px;
}

#listing {
  background-color: #ABD699;
  padding: 10px;
  margin: 20px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 0.3);
}

#listing {
  display: grid;
  align-items: baseline;
}

#listing-name {
  font-size: 25px;
  
}

#listing-image { 
  box-shadow: 2px 2px 2px black;
}

#under-heading {
  display: none;
}

.filter-menu {
  background-color: gray;
  position: absolute;
  width: 400px;
  padding: 10px;
  left: 500px;
  top: 400px;
  display: none;
}

#filter-heading {
  text-align: center;
}
/* trying to figure out hover functionality (make search bar appear when header is hovered) may require JS instead */
/* h1:hover + form {
  background-color: yellow;
  display: block;
}

